In [1]:
#Import Libraries
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [4]:
Customer = pd.read_csv("C:/Users/lenovo/Downloads/Costomer+OrderForm.csv")
Customer.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [5]:
Customer.shape
Customer.dtypes
Customer.info()
Customer.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [6]:
Phillippines_value=Customer['Phillippines'].value_counts()
print(Phillippines_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [7]:
Indonesia_value=Customer['Indonesia'].value_counts()
print(Indonesia_value)

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [8]:
Malta_value=Customer['Malta'].value_counts()
print(Malta_value)

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [9]:
India_value=Customer['India'].value_counts()
print(India_value)

Error Free    280
Defective      20
Name: India, dtype: int64

 # Hypothesis Testing

In [10]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [11]:
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))

Test t=3.858961 p-value=0.277102

In [12]:
print('Interpret by p-Value')

Interpret by p-Value

In [13]:
if chiStats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis

# Critical Value

In [14]:
#critical value = 0.1
alpha = 0.05
critical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
observed_chi_val = chiStats[0]

In [15]:
print('Interpret by critical value')

Interpret by critical value

In [16]:
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected (variables are not related)')
else:
       print ('Null hypothesis cannot be excepted (variables are not independent)')

Null hypothesis cannot be rejected (variables are not related)

# Inference is that proportion of defective % across the center is same.